//START PAGE | IMPUT COMPONENTS

//NAV INPUT
/* Style the search field */
    .search{
        &__input[type=text] {
            padding: 0.2rem;
            font-size: $small;
            border: 1px solid $kashmr;
            float: left;
            width: 70%;
            background: #f1f1f1;
            border-radius: 1rem 0 0 1rem;
            &:focus{
                outline: none;
            }
          }
    } 
  
  /* Style the submit button */
  .search{
      &__button{
        float: left;
        width: 20%;
        padding: 0.2rem;
        background: $mercury;
        color: $chambray;
        text-align: center;
        font-size: $small;
        border: 1px solid $kashmr;
        border-radius: 0 1rem 1rem 0;
        border-left: none;
        cursor: pointer;
        &:hover {
            background:$athens-gray;
          }
      }
      &::after {
        content: "";
        clear: both;
        display: table;
      }
  }