// VARIABLES PAGE START
/*VARIABLES PAGE*/

//COLOR SCHEME
$athens-gray: #F8F9FA;
$mercury : #E5E5E5;
$carskill: #EEF6F7;

$chambray: #3D518C;
$kashmr: #4F6196;

$dark-charcoal: #333333;

//MEDIAS QUERYS
$phone-view: 576px;
$tablet-view: 768px;
