/*-| START MANIFESTO PAGE |-*/
/*VARIABLES PAGE*/
/*BASE PAGE START*/
/*|- GENERAL RESET -|*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** The new CSS Reset - version 1.4.4 (last updated 22.12.2021) ***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/*|- TYPOGRAFY -|*/
/*FONT IMPORT*/
@font-face {
  font-family: "eugusto";
  src: url(../fonts/eugusto_font.otf) format("opentype");
}
@font-face {
  font-family: "monograf";
  src: url(../fonts/monograf_regular.ttf) format("truetype");
  src: url(../fonts/monograf_bold.ttf) format("truetype");
}
/*SIZE*/
body {
  font-family: "monograf";
}

/*|- NAVIGATOR PAGE -|*/
.nav {
  width: 100%;
  height: 5rem;
  background-color: azure;
  display: flex;
}
@media (max-width: 768px) {
  .nav .nav__text {
    display: none;
  }
  .nav .nav__text-acronym {
    font-family: "eugusto", sans-serif;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    font-weight: bolder;
  }
}
@media (min-width: 768px) {
  .nav .nav__text-acronym {
    display: none;
  }
}
.nav__logo {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__text {
  font-family: "eugusto", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}
.nav__link {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.nav__ul {
  display: flex;
}
.nav__li {
  list-style: none;
  margin-right: 1rem;
}
.nav__a {
  text-decoration: none;
  color: #333333;
}

.main {
  display: flex;
}

/*PAGE START | ASIDE*/
.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
@media (max-width: 768px) {
  .aside-container {
    display: none;
  }
}
.aside-container__line {
  width: 100%;
  height: 0.2rem;
  background-color: #3D518C;
  margin: 1rem 0;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.about-us__title {
  text-align: center;
  font-size: 1.775rem;
  font-weight: bold;
}
.about-us__description {
  text-align: justify;
  padding: 1rem;
}

.card-mini {
  background-color: #EEF6F7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}
.card-mini__title {
  font-weight: lighter;
  padding: 1rem 0;
}
.card-mini__img {
  object-fit: cover;
  border-radius: 1rem;
  padding: 1rem;
}

.features {
  width: 100%;
}
.features__title {
  font-size: 1.775rem;
  text-align: center;
}

.tags__title {
  font-size: 1.775rem;
  text-align: center;
}
.tags__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.tags__text {
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 1rem;
  border: 1px solid #3D518C;
  background: #4F6196;
  color: #F8F9FA;
  border-radius: 0.6rem;
  font-size: 0.75rem;
}

/*-| NEWSLETTER PAGE |-*/
.newsletter {
  text-align: center;
  width: 100%;
  height: 20rem;
  background-color: #EEF6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.newsletter__title {
  font-size: 1.775rem;
}
.newsletter__text {
  letter-spacing: 0.2rem;
  margin: 0.5rem;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
  background: #E5E5E5;
  color: #3D518C;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #EEF6F7;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*FOOTER PAGE START*/
.footer {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*|- START CARD COMPONENT STYLESHEET -|*/
.card {
  background-color: #EEF6F7;
  padding: 0.8rem;
  border-radius: 0.2rem;
  margin: 0.5rem 1.5rem;
}
.card__img {
  width: 100%;
  border-radius: 0.2rem;
  height: 10rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.card__tag {
  padding: 0.2rem 0.5rem;
  border: 1px solid #3D518C;
  background: #4F6196;
  color: #F8F9FA;
  border-radius: 0.6rem;
  font-size: 0.75rem;
}
.card__title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
.card__description {
  margin-top: 0.5rem;
  line-height: 1.3rem;
}
.card__button {
  padding: 0.4rem 1rem;
  margin-top: 0.5rem;
  background: none;
  border: 1px solid #3D518C;
  border-radius: 0.4rem;
  cursor: pointer;
}

/* Style the search field */
.search__input[type=text] {
  padding: 0.2rem;
  font-size: 0.75rem;
  border: 1px solid #4F6196;
  float: left;
  width: 70%;
  background: #f1f1f1;
  border-radius: 1rem 0 0 1rem;
}
.search__input[type=text]:focus {
  outline: none;
}

/* Style the submit button */
.search__button {
  float: left;
  width: 20%;
  padding: 0.2rem;
  background: #E5E5E5;
  color: #3D518C;
  text-align: center;
  font-size: 0.75rem;
  border: 1px solid #4F6196;
  border-radius: 0 1rem 1rem 0;
  border-left: none;
  cursor: pointer;
}
.search__button:hover {
  background: #F8F9FA;
}
.search::after {
  content: "";
  clear: both;
  display: table;
}

/*|- Start GRID page configuration -|*/
.container {
  width: 80%;
  display: grid;
  grid-auto-flow: dense;
  gap: 0.5rem;
  grid-auto-rows: 28rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
